<div class="dashboard-container">
    <a class="card text-white bg-primary mb-3">
        <div class="card-body">
            <fa-icon [icon]="faRandom"></fa-icon>
            <h4 class="card-title">12</h4>
            <p class="card-text">Active O365 JIT Accounts</p>
        </div>
    </a>
    <a class="card text-white bg-primary mb-3">
        <div class="card-body">
            <fa-icon [icon]="faUser"></fa-icon>
            <h4 class="card-title">15</h4>
            <p class="card-text">Open O365 JIT Account Requests</p>
        </div>
    </a>
    <a class="card text-white bg-primary mb-3">
        <div class="card-body">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
            <h4 class="card-title">15152</h4>
            <p class="card-text">O365 Users Managed</p>
        </div>
    </a>
    <a class="card text-white bg-primary mb-3">
        <div class="card-body">
            <fa-icon [icon]="faRandom"></fa-icon>
            <h4 class="card-title">10</h4>
            <p class="card-text">Active AD/Local JIT Accounts</p>
        </div>
    </a>
    <a class="card text-white bg-primary mb-3">
        <div class="card-body">
            <fa-icon [icon]="faUser"></fa-icon>
            <h4 class="card-title">15</h4>
            <p class="card-text">Open Local Account Requests</p>
        </div>
    </a>
    <a class="card text-white bg-primary mb-3">
        <div class="card-body">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
            <h4 class="card-title">1234059</h4>
            <p class="card-text">Users Managed</p>
        </div>
    </a>
</div>